<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexAdmin :: dynamic(~{:: main})}">

<body>
<main>
    <h1>Quản Lý Size</h1>
    <div class="navbar-nav">
        <h3>Danh Sách Size</h3>
    </div>
    <div class="navbar-right">
        <a th:href="@{/admin/size/view-add}" class="btn btn-info">
            <i class="bi bi-aspect-ratio"></i>
            Thêm Kích Cỡ Size
        </a>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Kích Cỡ Size</th>
            <th>Trang Thái</th>
            <th>Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listSize, stat : ${listSize}">
            <td th:text="${stat.count}"></td>
            <td th:text="${listSize.nameSize}"></td>
            <td th:text="${listSize.getAllStatus()}"></td>
            <td>
                <a th:href="@{/admin/size/detail/{id}(id=${listSize.idSize})}" class="btn btn-primary"><i
                        class="bi bi-eye-fill"></i></a>
                <a th:href="@{/admin/size/delete/{id}(id=${listSize.idSize})}" class="btn btn-danger"><i
                        class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            <li th:each="i : ${#numbers.sequence(0, listSize.totalPages - 1)}" th:class="${i == page ? 'active' : ''}"
                class="page-item">
                <a th:href="@{/admin/size(page=${i})}" class="page-link" th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>