<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/layout/indexAdmin :: dynamic(~{:: main})}">

<body>
<main class="row">
    <h3>Cập Nhật Kích Cỡ Size</h3>
    <form th:action="@{/admin/size/update}" th:object="${detailSize}" method="post">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>ID Size: </label>
                        <input type="text" class="form-control" name="idSize" th:field="*{idSize}" readonly/>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label>Kích Cỡ Size: </label>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="XXS"
                                           th:checked="${detailSize.nameSize == 'Size XXS'}">
                                    Size XXS
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="XS"
                                           th:checked="${detailSize.nameSize == 'Size XS'}">
                                    Size XS
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="S"
                                           th:checked="${detailSize.nameSize == 'Size S'}">
                                    Size S
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="M"
                                           th:checked="${detailSize.nameSize == 'Size M'}">
                                    Size M
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="L"
                                           th:checked="${detailSize.nameSize == 'Size L'}">
                                    Size L
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="XL"
                                           th:checked="${detailSize.nameSize == 'Size XL'}">
                                    Size XL
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="2XL"
                                           th:checked="${detailSize.nameSize == 'Size 2XL'}">
                                    Size 2XL
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" name="nameSize" value="3XL"
                                           th:checked="${detailSize.nameSize == 'Size 3XL'}">
                                    Size 3XL
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Trạng Thái: </label>
                        <select name="status" class="form-control">
                            <option value="1" th:selected="${detailSize.status == 1}">
                                Đang Hoạt Động
                            </option>
                            <option value="0" th:selected="${detailSize.status == 0}">
                                Ngừng Hoạt Động
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy-fill"></i>
                        Lưu Lại
                    </button>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>